<div class="fullscreen-bg">
<h1>Admin Options</h1>
<%= link_to 'All RSVPS', user_rsvps_path(@user) %><br>
<%= link_to 'Create user', new_user_path %><br>
<%= link_to 'Menu options', foods_path %><br>
</div>