<div class="fullscreen-bg">
  <div id="table-wrapper">
    <%= render 'comments_table' %>
  </div>
</div>
<div class="quote-bar">“Be who you are and say what you feel, because those who mind don't matter and those who matter
  don't mind.”
  ~ Dr. Suess
</div>

