<div class="table-container">
  <div class="table-row">
    <div class="col-md-12">
    </div>
    <div id="no-more-tables">
      <table class="col-md-12 table-bordered table-striped table-condensed cf">
        <thead class="cf">
        <caption>Users Table</caption>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Delete user</th>
        </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
            <tr id="<%= user.name %>">
              <td data-title="Name"><%= user.name %></td>
              <td data-title="Email"><%= user.email %></td>
              <td><%= link_to 'Delete', user_path(user), method: 'Delete',class: "btn btn-danger btn-mini"  %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
