<div class="users-fullscreen-bg">
  <%= render 'users_table' %>
  <%= render 'user_creation_form' %>

</div>
<div class="quote-bar">"Gravitation is not responsible for people falling in love." ~ Albert Einstein

</div>
