<div class="container">
  <div class="row">
    <!-- Carousel -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->

      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://img31.imageshack.us/img31/1474/zmob.jpg" alt="First slide" class="desaturate">
          <!-- Static Header -->
          <div class="header-text hidden-xs">
            <div class="col-md-12 text-center">

              <div class="">
                <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a></div>
            </div>
          </div><!-- /header-text -->
        </div>
        <div class="item">
          <img src="http://24.media.tumblr.com/b116eb637769a61228ae5a58d497adc6/tumblr_mopqdfx05t1st5lhmo1_1280.jpg" alt="Second slide" class="desaturate">
          <!-- Static Header -->
          <div class="header-text hidden-xs">
            <div class="col-md-12 text-center">

              <div class="">
                <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a></div>
            </div>
          </div><!-- /header-text -->
        </div>
        <div class="item">
          <img src="http://24.media.tumblr.com/b119f46f36ada62e952baadebfae5fb3/tumblr_mtawb6Bzzy1st5lhmo1_1280.jpg" alt="Third slide" class="desaturate">
          <!-- Static Header -->
          <div class="header-text hidden-xs">
            <div class="col-md-12 text-center">
              <div class="">
                <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a></div>
            </div>
          </div><!-- /header-text -->
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div><!-- /carousel -->
  </div>
</div>
