<% if flash[:partial] %>
  <% partial = flash[:partial].to_s %>
  <%= render partial %>
<% end %>
<div class="error"><%= flash[:success] %> <%= flash[:rsvp_error] %>
</div>
<div class="page-title">Evan & Crystal</div>
<div class="date">April 5, 2015</div>
<div class="location">Costa Rica</div>
<%= render 'carousel' %>
<div class="quote-bar">“You don't love someone for their looks, or their clothes, or for
  their fancy car, but because they sing a song only you can hear.” ~ Oscar Wild
</div>