<div class="table-container">
  <div class="table-row">
    <div class="col-md-12">
      <h1 class="text-center">
        RSVP list:
      </h1>
    </div>
    <div id="no-more-tables">
      <table class="col-md-12 table-bordered table-striped table-condensed cf">
        <thead class="cf">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Attending?</th>
          <th class="numeric"># of guests</th>
        </tr>
        </thead>

        <tbody>
        <% @rsvp.each do |rsvp| %>
            <tr>
              <td data-title="Name"><%= rsvp.name %></td>
              <td data-title="Email">joe@example.com</td>
              <td data-title="Attending?"><%= rsvp.attending ? 'Yes' : 'No' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
