<div class=".table-responsive">
  <div class="table-container">
    <div class="table-row">
      <div class="col-md-12">
        <h1 class="text-center">
          RSVP list:
        </h1>
      </div>
      <div id="no-more-tables">
        <table class="col-md-12 table-bordered table-striped table-condensed cf">
          <thead class="cf">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th class="numeric"># of guests</th>
            </tr>
          </thead>

          <tbody>
          <% @users.each do |user| %>
              <% if user.attending %>
                  <tr>
                    <td data-title="Name"><%= user.name %></td>
                    <td data-title="Email"><%= user.email %></td>
                    <td data-title="Number_of_guests"><%= user.number_of_guests %></td>
                  </tr>
              <% end %>
          <% end %>

          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td>Total Guests: <%= total_guests %></td>
            </tr>
          </tfoot>

        </table>
      </div>
    </div>
  </div>
</div>