<div class="fullscreen-bg">
  <div id="table-wrapper">
    <%= render 'rsvp_table' %>
  </div>
  <div class="total-guests">
    Total Guests: <%= total_guests %>
  </div>
</div>
<div class="quote-bar">Never love anyone who treats you like you're ordinary ~ Oscar Wilde
</div>
