<div class="container">
  <%  Reservation.new(@reservations).get_room_info.each do |room, attribute| %>
    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-<%= cycle("info", "primary") -%>">
          <div class="panel-heading clickable">
            <h3 class="panel-title"><%= room %>
              </h3>
            <% @room = room, @attribute = attribute %>
            <span class="pull-right "><i class="glyphicon glyphicon-minus"></i></span>
          </div>
          <div class="panel-body">
            <%= render 'reservation_table', locals: {room: @attribute}  %>
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>
