<div class="fullscreen-bg">
  <h1 class="text-center"> Available rooms</h1>
  <%= render 'hotel_panel', locals: {reservations: @reservations} %>
</div>
<div class="quote-bar">“Living in the lap of luxury isn't bad except that you never know when luxury is going to stand
  up." ~ Orson Welles
</div>
