---
http_interactions:
- request:
    method: get
    uri: http://dev.api.ean.com/ean-services/rs/hotel/v3/avail?SupplierType=E&_type=json&apiKey=<EAN_KEY>&arrivalDate=&cid=55505&currencyCode=USD&departureDate=&hotelId=193964&includeDetails=true&locale=en_US&minorRev=24&options=ROOM_AMENITIES,ROOM_TYPES&room=&sig=52dce30cf10fb04165841c82cf388afb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-p-worker-lax-01.mashery.com
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"HotelRoomAvailabilityResponse":{"@size":"0","EanWsError":{"itineraryId":-1,"handling":"RECOVERABLE","category":"DATA_VALIDATION","exceptionConditionId":-1,"presentationMessage":"Data
        in this request could not be validated: Check-in date could not be resolved,
        please try again.","verboseMessage":"Data in this request could not be validated:
        Check-in date could not be resolved, please try again.","ServerInfo":{"@instance":"54","@timestamp":"1406871082","@serverTime":"00:31:22.806-0500"}},"customerSessionId":"0ABAAA36-351B-4F91-4792-009A4879636F","hotelId":193964}}'
  recorded_at: Fri, 11 Jul 2014 21:53:58 GMT
recorded_with: VCR 2.9.2
