<div class="fullscreen-bg">
  <div id="table-wrapper">
    <%= render 'food_table' %>
  </div>
</div>
<div class="quote-bar">“We're all a little weird and life's a little weird. And when we find someone who's weirdness is compatible with ours, we join up with them and fall in mutual weirdness call it love.”
</div>