<div> Cool Photos</div>
<div class="photos-container">
<%= render 'light_box' %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox();
  });
</script>

