<div class="page-title"> Photos</div>
<div class="photos-container">
<%= render 'light_box' %>
</div>
<div class="quote-bar">"Life is short, Break the Rules.  Forgive quickly,
  Kiss slowly.  Love truly.  Laugh uncontrollably and never regret anything
  That makes you smile."  ~ Mark Twain
</div>


