/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  position: relative;
  top: 0px;
  text-align: center;
  width: 100%;
  height: 90px;
  background-color: #f2f2f2;
  opacity: .5;
  font-size: 13pt;
  padding-top: 37px;

}

a {
  color: #4BACC6 !important;
  padding: 15px;
  font-family: 'Open Sans';
}

#content-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 85px;
}

.content {
  position: relative;
  margin: auto;
  width: 830px;
  height: 800px;
}

body {
  margin: 0;
}

.quote-bar {
  text-align: center;
  width: 100%;
  height: 90px;
  background-color: #f2f2f2;
  opacity: .5;
  font-size: 13pt;
  padding-top: 37px;
  font-family: 'Open Sans';
  font-style: italic;

}

.page-title {
  margin: auto;
  font-size: 26pt;
  text-align: center;
  padding-top: 30px;


}

.date {
  margin: auto;
  font-size: 20pt;
  text-align: center;
  opacity: 70%;
}

.location {
  margin: auto;
  font-size: 15pt;
  text-align: center;

}

img.desaturate {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

#rsvp-container {
  width: 50%;
  height: 100%;
  border: 2px solid;
  border-radius: 4%;
  box-shadow: 5px 5px 2.5px #888888;
  text-align: center;
  display: block;
  position: relative;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;

}

.date#rsvp {
  padding-bottom: 50px;
  padding-top: 35px;
}

.form {
  padding: 100px;
  display: inline-block;
  text-align: left;
  margin: auto;
}

p {
  font-size: 15pt;
}

#name {
  margin-bottom: 15px;
}

#attending {
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

input[type="radio"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -ms-appearance: checkbox;
  -o-appearance: checkbox;
}

input[type=submit] {
  padding: 5px 15px;
  background: #4BACC6;
  border: 0 none;
  color: white;
  float: right;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#comments {
  min-height: 150px;
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid-black;
  padding-top: 20px;
  display: inline-block;
}


#error_explanation.error {
  margin: auto;
  color: red;
  text-align: center;
}




.container {
  margin-top: 20px;
  max-width: 800px;
  margin-bottom: 100px;
}

/* Carousel Styles */
.carousel-indicators .active {
  background-color: #2980b9;
}

.carousel-inner img {
  width: 100%;
  max-height: 460px
}

.carousel-control {
  width: 0;
}

.carousel-control.left,
.carousel-control.right {
  opacity: 0;
  filter: alpha(opacity=0);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
}

.carousel-control.left span {
  padding: 15px;
}

.carousel-control.right span {
  padding: 15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 0;
}

.carousel-control.left span,
.carousel-control.right span {

}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
  position: absolute;
  top: 20%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

.header-text h2 {
  font-size: 40px;
}

.header-text h2 span {
  background-color: #2980b9;
  padding: 10px;
}

.header-text h3 span {
  background-color: #000;
  padding: 15px;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-theme {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  margin-right: 15px;
  margin-top: 275px;
}

.btn-theme:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

span {
  font: italic 700 20px/1.2 "playfair display";

}

#no-more-tables table {
  background-color: #2BCEE0;
}

@media only screen and (max-width: 800px) {

  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr {
    border: 1px solid #ccc;
  }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;

  }

  /*
  Label the data
  */
  #no-more-tables td:before {
    content: attr(data-title);
  }
}