---
http_interactions:
- request:
    method: get
    uri: http://dev.api.ean.com/ean-services/rs/hotel/v3/avail?SupplierType=E&_type=json&apiKey=<EAN_KEY>&arrivalDate=04/04/2015&cid=55505&currencyCode=USD&departureDate=04/11/2015&hotelId=193964&includeDetails=true&includeRoomImages=true&locale=en_US&minorRev=24&options=ROOM_AMENITIES,ROOM_TYPES&room_key=2&sig=52dce30cf10fb04165841c82cf388afb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-p-worker-lax-02.mashery.com
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"HotelRoomAvailabilityResponse":{"@size":"13","customerSessionId":"0ABAAA75-E707-1914-79E2-6361E090598F","hotelId":193964,"arrivalDate":"04\/04\/2015","departureDate":"04\/11\/2015","hotelName":"Doubletree
        By Hilton Central Pacific - All Inclusive","hotelAddress":"El Roble","hotelCity":"Puntarenas","hotelCountry":"CR","numberOfRoomsRequested":1,"checkInInstructions":"<p><b>Know
        Before You Go<\/b> <br \/><ul>  <li>Reservations are required for massage
        services and spa treatments. Reservations can be made by contacting the resort
        prior to arrival, using the contact information on the booking confirmation.
        <\/li><li>Children 3 years old and younger stay free when occupying the parent
        or guardian''s room, using existing bedding. <\/li><li>The property has connecting\/adjoining
        rooms, which are subject to availability and can be requested by contacting
        the property using the number on the booking confirmation. <\/li> <\/ul><\/p>","tripAdvisorRating":3.5,"tripAdvisorReviewCount":1237,"tripAdvisorRatingUrl":"http:\/\/www.tripadvisor.com\/img\/cdsi\/img2\/ratings\/traveler\/3.5-12345-4.gif","HotelRoomResponse":[{"rateCode":545532,"rateDescription":"Two
        Doubles","RoomType":{"@roomTypeId":"350696","@roomCode":"223811","description":"Two
        Doubles","descriptionLong":"<strong><ul><li>2 double<\/li><\/ul><\/strong>Slip
        into the pillowtop bed with Egyptian cotton linens and a down duvet for a
        good night''s rest. Wireless Internet access (surcharge) keeps you connected,
        and the 37-inch flat-screen TV offers cable channels. You can unwind in your
        private spa tub. A coffee\/tea maker is provided. The private bathroom has
        a bathtub or shower, as well as complimentary toiletries and a hair dryer.
        Air conditioning, a safe, and daily housekeeping are among the conveniences
        offered.  <p><\/p>","roomAmenities":{"@size":"24","RoomAmenity":[{"@amenityId":"5477837","amenity":"Air
        conditioning"},{"@amenityId":"15943674","amenity":"Bathtub or shower"},{"@amenityId":"7735482","amenity":"Blackout
        drapes\/curtains"},{"@amenityId":"7922330","amenity":"Cable TV service"},{"@amenityId":"5477840","amenity":"Climate
        control"},{"@amenityId":"7719800","amenity":"Coffee\/tea maker"},{"@amenityId":"10361457","amenity":"Complimentary
        toiletries"},{"@amenityId":"15943676","amenity":"Connecting \/ adjoining rooms
        available "},{"@amenityId":"10361487","amenity":"Cribs\/infant beds available"},{"@amenityId":"10361437","amenity":"Daily
        housekeeping"},{"@amenityId":"15565888","amenity":"Down comforter "},{"@amenityId":"10361497","amenity":"Egyptian-cotton
        sheets "},{"@amenityId":"7672256","amenity":"Flat-panel TV"},{"@amenityId":"7666261","amenity":"Hair
        dryer"},{"@amenityId":"10361447","amenity":"Hypo-allergenic bedding available"},{"@amenityId":"7685745","amenity":"In-room
        safe"},{"@amenityId":"15943671","amenity":"Iron\/ironing board"},{"@amenityId":"15943672","amenity":"MP3
        docking station"},{"@amenityId":"5477839","amenity":"Phone"},{"@amenityId":"10361507","amenity":"Pillowtop
        mattress "},{"@amenityId":"15943670","amenity":"Private bathroom"},{"@amenityId":"15943675","amenity":"Private
        spa tub"},{"@amenityId":"10361477","amenity":"Rollaway\/extra beds available"},{"@amenityId":"7737061","amenity":"Wireless
        Internet access (surcharge)"}]}},"supplierType":"E","propertyId":692315,"BedTypes":{"@size":"1","BedType":{"@id":"21","description":"2
        double"}},"smokingPreferences":"S,NS","rateOccupancyPerRoom":3,"quotedOccupancy":2,"minGuestAge":0,"RateInfos":{"@size":"1","RateInfo":{"@priceBreakdown":"true","@promo":"false","@rateChange":"false","RoomGroup":{"Room":{"numberOfAdults":2,"numberOfChildren":0,"rateKey":"9a257344-c6a8-4f9b-bd1d-3ab51d92c1c9"}},"ChargeableRateInfo":{"@averageBaseRate":"198.0","@averageRate":"198.0","@commissionableUsdTotal":"1386.0","@currencyCode":"USD","@maxNightlyRate":"198.0","@nightlyRateTotal":"1386.0","@total":"1386.0","NightlyRatesPerRoom":{"@size":"7","NightlyRate":[{"@baseRate":"198.0","@rate":"198.0","@promo":"false"},{"@baseRate":"198.0","@rate":"198.0","@promo":"false"},{"@baseRate":"198.0","@rate":"198.0","@promo":"false"},{"@baseRate":"198.0","@rate":"198.0","@promo":"false"},{"@baseRate":"198.0","@rate":"198.0","@promo":"false"},{"@baseRate":"198.0","@rate":"198.0","@promo":"false"},{"@baseRate":"198.0","@rate":"198.0","@promo":"false"}]}},"cancellationPolicy":"We
        understand that sometimes your travel plans change. We do not charge a change
        or cancel fee. However, this property (Doubletree By Hilton Central Pacific
        - All Inclusive) imposes the following penalty to its customers that we are
        required to pass on: Cancellations or changes made after 6:00 PM ((GMT-06:00)
        Central America) on Apr 1, 2015 are subject to a 1 Night Room &amp; Tax penalty.
        The property makes no refunds for no shows or early checkouts.","CancelPolicyInfoList":{"CancelPolicyInfo":[{"versionId":206646307,"cancelTime":"18:00:00","startWindowHours":0,"nightCount":1,"currencyCode":"USD","timeZoneDescription":"(GMT-06:00)
        Central America"},{"versionId":206646306,"cancelTime":"18:00:00","startWindowHours":72,"nightCount":0,"currencyCode":"USD","timeZoneDescription":"(GMT-06:00)
        Central America"}]},"nonRefundable":false,"rateType":"MerchantStandard","currentAllotment":0,"guaranteeRequired":false,"depositRequired":true,"taxRate":"0.00"}},"ValueAdds":{"@size":"1","ValueAdd":{"@id":"512","description":"All
        Inclusive"}},"deepLink":"https:\/\/travel.ian.com\/templates\/55505\/hotels\/193964\/book?lang=en&amp;currency=USD&amp;standardCheckin=04\/04\/2015&amp;standardCheckout=04\/11\/2015&amp;selectedPrice=1386.000000&amp;supplierType=E&amp;rateCode=545532&amp;roomTypeCode=223811&amp;roomsCount=1&amp;rooms[0].adultsCount=2&amp;rateKey=9a257344-c6a8-4f9b-bd1d-3ab51d92c1c9"},{"rateCode":201572162,"rateDescription":"Two
        Double Beds, Ocean Front, Non-Smoking","RoomType":{"@roomTypeId":"863611","@roomCode":"200266952","de[...]
